@charset "UTF-8";
*{border:0px solid red;}
/*------------------header------------------*/



/*------------------footer------------------*/
.fmenu{
	width:100%;
	height:100%;
	display: flex;
	justify-content: space-between;
	font-size: .9rem;
	align-items: center;
	text-align: center;
	font-family: 'LINESeedKR-Bd';
}
.fmenu li {padding:10px;}
.fmenu a:hover {
	color:#ff00cc;
	text-shadow:  3px 3px 3px var(-main01);
}

.fmenu a{color:var(--white); }
.fmenu li:nth-child(n+1):nth-child(-n+4){
	border-right: solid 1px var(--main01);
}

/*------------------요청목록------------------*/
.ptitle{
	text-align: center;
	padding-top: 20px;
	color:var(--dgray);
}
.listbox{
	padding:20px 10px;
}
.listTitle {
	display:flex;
	justify-content:space-around;
	width:100%;
	font-family: 'LINESeedKR-Bd';
    font-size:0.8rem;
    text-align: center;
    background-color: var(--main04);
    color:var(--white);
    padding:7px 0;
}
.rlistH li:nth-child(n+1):nth-child(-n+3){
	border-right: solid 1px var(--main01);
}
.listContent{
	display:flex;
    justify-content:space-around;
    width:100%;
    font-size:0.8rem;
    text-align: center;
    padding:7px 0;
    align-items: center;
 }
 .rlistC:not(:last-child){
    border-bottom:solid 1px var(--main03);
 }
.listContent:hover{
	background-color: var(--main01);
}


/*------------------메인------------------*/
.menuBox{
	padding:30px 20px;
}
.amenu{
	padding-top:30px;

}
.amenu li {
	padding:20px;
	margin-bottom : 20px;
	background-color: var(--main01);
	box-shadow:0 0  3px var(--main02);
	border-radius: 10px;
	font-family: 'LINESeedKR-Bd';
	font-size:1.4rem;
	text-align: center;
}
.amenu li:hover {
	
	background-color: var(--main02);
	color:var(--white) !important;
	
}
.amenu a{ color:var(--main02);}
.amenu a:hover{ color:var(--white);}
/*------------------서비스이용내역------------------*/

/*------------------리뷰관리------------------*/

/*------------------입금관리------------------*/

/*------------------결산관리------------------*/