@charset "UTF-8";.
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
.rSignupBox{
    font-family: 'LINESeedKR-Bd';

}
.header{
    padding:10px 15px;
    background-color: #30E3CA;
    color:#FFF;
    text-align: center;
}
ul {
    padding:30px 0;
    max-width: 400px;

}
li:nth-child(odd) {
    padding:20px 15px 5px;

    font-size: 0.9rem;
    color:#666;
}
li:nth-child(even) {
    padding:0px 15px 10px;
}
input{
    width:100%;
    border: none;
    box-shadow: 0 0 5px #30E3CA;
    border-radius: 3px;
    padding:10px;
}
.dflex{
	display: flex;
	justify-content: space-between;
}
.intext75{ width:75%;}
.intext80{ width:80%;}
.infile{}

.inselect{
	padding:5px;
     box-shadow: 0 0 5px #30E3CA;
    border-radius: 3px;
    border:none;
}
BUTTON{
    background-color: #30E3CA;
    color:#fff;
}
.btn50{ width:49%;}
.colorW{
	background-color:#fff;
	color:#30E3CA;
	border:solid 1px #30E3CA;
}
.btnbox{ padding-bottom: 30px;}

/*---------------- (상단 버튼) ----------------*/


/*---------------- (푸터 버튼) ----------------*/
.fbtn{
    display:flex;
    height:100%;
    font-family: 'LINESeedKR-Bd';
    justify-content:center;
    align-items:center;
    font-size: 2rem;
    margin: auto 0;


}
.btn100{
	width:100%
}
.btn50{
    width:50%
}
.bgm02{
    background-color:var(--main02);
    color:var(--white);

}
/*---------------- ( rindex ) ----------------*/
.rcontBox{
	display:flex;
	justify-content:center;
	padding:20px;
    width:100%;
    margin: 0 auto;
    font-family: 'LINESeedKR-Bd';
    height:72vh;
    color:#fff;
}
.rcont{width: 80%;}
.rtitle h2{
    padding:10px 10px 8px;
}
.numbox{
	font-family: 'LINESeedKR-Bd';
	border:solid 1px var(--main02);
	border-radius:10px;
    padding:30px 0;
    text-align: center;
    letter-spacing : 0.3em;
}
.numbox2{padding-top:10px;}
.numbox2 span{ display: inline-block; letter-spacing : 0.3em;}
..numbox2 .col60{ text-align: left;}
.fs18m02{font-size: 1.8rem; color:var(--main02);}
.fs15m02{font-size: 1.5rem; color:var(--main02);}
.fs22m02{font-size: 2.2rem; color:var(--main02);}


/*---------------- ( rindex ) ----------------*/
/*---------------- ( rindex ) ----------------*/
/*---------------- ( rindex ) ----------------*/
/*---------------- ( rindex ) ----------------*/
/*---------------- ( rindex ) ----------------*/
/*---------------- ( rindex ) ----------------*/
/*---------------- ( rindex ) ----------------*/
